.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 40px 30px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    &__Title{
        margin-bottom: 48px;
        text-align: center;
    }

    &__field{
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        padding: 0px 15px;
        outline: 0;
    }

    &__btn{
        padding: 10px 12px;
        cursor: pointer;
        color: white;
        background:#4DD599;
        border-radius: 10px;
        border:none;
    }
    &__text{
        margin-top: 25px;
    }
    &__link{
        color: red;
        margin-top: 5px;
    }
}